################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.AssemblyInfo.cs
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.AssemblyInfoInputs.cache
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.assets.cache
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.GeneratedMSBuildEditorConfig.editorconfig
/CustomerServiceApp/obj/CustomerServiceApp.csproj.nuget.dgspec.json
/CustomerServiceApp/obj/project.assets.json
/CustomerServiceApp/obj/project.nuget.cache
/.vs/CustomerServiceApp/FileContentIndex/41268c18-e15f-48ce-80fe-92dd2696c147.vsidx
/.vs/CustomerServiceApp/FileContentIndex/42c730a1-84ff-4064-aaa7-421187b7de35.vsidx
/.vs/CustomerServiceApp/FileContentIndex/548474b9-3c94-4bad-8da9-a9de4e646484.vsidx
/.vs/CustomerServiceApp/FileContentIndex/7147ed26-1203-4a05-b7a7-8b6bb45f77a5.vsidx
/.vs/CustomerServiceApp/FileContentIndex/dcbc0a6f-efc7-401c-b416-18a3f295a1b1.vsidx
/.vs/CustomerServiceApp/config/applicationhost.config
/.vs/CustomerServiceApp/DesignTimeBuild/.dtbcache.v2
/.vs/CustomerServiceApp/v17/.futdcache.v2
/.vs/CustomerServiceApp/v17/.suo
/.vs/CustomerServiceApp/v17/DocumentLayout.json
/.vs/ProjectEvaluation/customerserviceapp.metadata.v8.bin
/.vs/ProjectEvaluation/customerserviceapp.projects.v8.bin
/.vs/ProjectEvaluation/customerserviceapp.strings.v8.bin
/CustomerServiceApp/bin/Debug/net8.0/CustomerServiceApp.dll
/CustomerServiceApp/bin/Debug/net8.0/CustomerServiceApp.exe
/CustomerServiceApp/bin/Debug/net8.0/CustomerServiceApp.pdb
/CustomerServiceApp/bin/Debug/net8.0/CustomerServiceApp.staticwebassets.runtime.json
/CustomerServiceApp/obj/Debug/net8.0/apphost.exe
/CustomerServiceApp/obj/Debug/net8.0/ref/CustomerServiceApp.dll
/CustomerServiceApp/obj/Debug/net8.0/refint/CustomerServiceApp.dll
/CustomerServiceApp/obj/Debug/net8.0/staticwebassets/msbuild.CustomerServiceApp.Microsoft.AspNetCore.StaticWebAssets.props
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.csproj.FileListAbsolute.txt
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.dll
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.genruntimeconfig.cache
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.pdb
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.sourcelink.json
/CustomerServiceApp/obj/Debug/net8.0/project.razor.vs.bin
/CustomerServiceApp/obj/Debug/net8.0/staticwebassets.build.json
/CustomerServiceApp/obj/Debug/net8.0/staticwebassets.development.json
/CustomerServiceApp/obj/Debug/net8.0/staticwebassets.pack.json
*.vsidx
/CustomerServiceApp/obj/Debug/net8.0/CustomerServiceApp.csproj.CoreCompileInputs.cache
