<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="content width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Application</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/fonts.min.css" rel="stylesheet" />
    <link href="~/css/kaiadmin.min.css" rel="stylesheet" />
    <link href="~/css/kaiadmin.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/plugins.min.css" rel="stylesheet" />
    <link href="~/css/plugins.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @* Include sidebar partial view *@
        @await Html.PartialAsync("_SidebarPartial")
        <div class="main-panel">
            @await Html.PartialAsync("_header")


            <div class="content flex-grow-1">
                <main role="main" class="container-fluid">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
