<div class="main-header">
    <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
            </a>
        </div>
        <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav ms-md-auto align-items-center">
                <!-- Profile Dropdown -->
                <li class="nav-item topbar-user dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                        <span class="profile-username">
                            <span class="op-7">Hi,</span>
                            Admin <span><i class="fa fa-user"></i></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <li>
                            <a asp-action="Logout" asp-controller="Home" class="dropdown-item">Logout</a>
                        </li>
                    </ul>
                </li>
                <!-- End Profile Dropdown -->
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
