
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Company">
                        <i class="fas fa-user"></i>
                        <p>Company</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="CompanyPosts">
                        <i class="fas fa-comment-dots"></i>
                        <p>Post</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="CompanyReviews">
                        <i class="fas fa-star"></i>
                        <p>Company Reviews</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="PostReviews">
                        <i class="fas fa-star"></i>
                        <p>Post Reviews</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Toggle sidebar visibility
        $('.toggle-sidebar').click(function () {
            // Toggle a class to hide or show the sidebar
            $('.sidebar').toggleClass('toggled');
            $('.toggle-sidebar i').toggleClass('gg-menu-right gg-menu-left');
        });

        // If there's another toggler for sidenav
        $('.sidenav-toggler').click(function () {
            // Collapse or expand the sidebar
            $('.sidebar').toggleClass('collapsed');
            $('.sidenav-toggler i').toggleClass('gg-menu-left gg-menu-right');
        });

        // Adjust main-panel width when sidebar is toggled on small screens
        function adjustMainPanel() {
            if ($(window).width() < 768) {
                $('.main-panel').css('margin-left', '0');
            } else {
                $('.main-panel').css('margin-left', $('.sidebar').hasClass('toggled') ? '0' : '250px');
            }
        }

        // Handle window resize
        $(window).resize(adjustMainPanel);
        adjustMainPanel();
    });
</script>